#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}