#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-menu_activos {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_admin_activos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-menu_movimientos {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_admin_movimientos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-menu_almacen {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_admin_almacen {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_3 {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-menu_usuarios {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_admin_usuarios {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_6 {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_activos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_movimientos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_almacenes {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-menu_herramientas {
  height: 41px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_2 {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_1 {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_4 {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_herr_activos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-sm_herr_movimientos {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Menu_item_8 {
  height: 28px;
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-150fff46-e62c-4a2b-8bca-576cbb0b1f47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}