#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-489a44b7-db9e-4b02-886e-8e81ee49b3ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}