#s-adae59b1-e329-4a08-ad11-f37c1f2a66b9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adae59b1-e329-4a08-ad11-f37c1f2a66b9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adae59b1-e329-4a08-ad11-f37c1f2a66b9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adae59b1-e329-4a08-ad11-f37c1f2a66b9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adae59b1-e329-4a08-ad11-f37c1f2a66b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}