#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db0afc98-2ca0-4f69-8869-501e08bf2c79 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}